# Dataframe operation

In [3]:
#1.Values:
import pandas as pd
# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.values)

[[1 4]
 [2 5]
 [3 6]]

In [4]:
# 2.Counts:
#Count non-null values for each column or row.
# Count non-null values for each column
print(df.count())
# Count non-null values for each row
print(df.count(axis=1))

A    3
B    3
dtype: int64
0    2
1    2
2    2
dtype: int64

In [5]:
# 3.Apply:
import numpy as np
# Apply a function to each column
print(df.apply(np.mean))
# Apply a function to each row
print(df.apply(np.max, axis=1))

A    2.0
B    5.0
dtype: float64
0    4
1    5
2    6
dtype: int64

In [6]:
# 4.Unique and Nunique:
# Get unique values in a column
print(df['A'].unique())
# Get the number of unique values in a column
print(df['A'].nunique())

[1 2 3]
3

In [7]:
# 5.Describe:
print(df.describe())

         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

In [8]:
# 6.Value Counts:
print(df['A'].value_counts())

A
1    1
2    1
3    1
Name: count, dtype: int64

In [9]:
# 7.Sorting:
# Sort DataFrame by index
print(df.sort_index())
# Sort DataFrame by values of a column
print(df.sort_values(by='A'))

   A  B
0  1  4
1  2  5
2  3  6
   A  B
0  1  4
1  2  5
2  3  6

In [10]:
# 8.Mapping:
mapping_dict = {1: 'One', 2: 'Two', 3: 'Three'}
print(df['A'].map(mapping_dict))

0      One
1      Two
2    Three
Name: A, dtype: object