# Sets

* Sets are used to store multiple items in a single variable
* Sets does not allows duplication.
* A set is a collection which is unordered, unchangeable*, and unindexed.
* Sets are written with curly brackets.

In [1]:
# Create a set
set = {"apple", "banana", "cherry"}
print(set)

{'apple', 'cherry', 'banana'}

In [ ]:
# Duplication
set={"apple", "banana", "cherry","apple"}
print(set)

In [2]:
# True and 1 considered as one value
set = {"apple", "banana", "cherry", True, 1, 2}
print(set)

{'apple', 2, True, 'banana', 'cherry'}

In [3]:
# False and 0 is considered the same value:
set = {"apple", "banana", "cherry", False, True, 0}
print(set)

{False, 'apple', True, 'banana', 'cherry'}

* Get the Length of a Set  
To determine how many items a set has, use the len() function.

In [4]:
# The number of items in a set
set = {"apple", "banana", "cherry"}
print(len(set))

3

* Set Items - Data Types   
There are three types
1. String 
2. int 
3. boolean

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

In [1]:
# Using the set() constructor to make a set:
thisset=set(("apple", "banana", "cherry")) 
print(thisset)

{'cherry', 'banana', 'apple'}

# Set Methods
Python has a set of built-in methods that you can use on sets.

Method	               Shortcut         	        Description  
add()	 	                              Adds an element to the set  
clear()	 	                             Removes all the elements from the set  
copy()	 	                             Returns a copy of the set  
difference()	             -	         Returns a set containing the difference between two or more sets  
difference_update()	        -=	         Removes the items in this set that are also included in another, specified set  
discard()	 	                         Remove the specified item  
intersection()	             &	         Returns a set, that is the intersection of two other sets  
intersection_update()	    &=	         Removes the items in this set that are not present in other, specified set(s)  
isdisjoint()	 	                     Returns whether two sets have a intersection or not  
issubset()	                <=	         Returns whether another set contains this set or not  
 	                        <	         Returns whether all items in this set is present in other, specified set(s)  
issuperset()	            >=	         Returns whether this set contains another set or not  
 	                        >	         Returns whether all items in other, specified set(s) is present in this set  
pop()	                     	         Removes an element from the set  
remove()	                	         Removes the specified element  
symmetric_difference()    	 ^	         Returns a set with the symmetric differences of two sets  
symmetric_difference_update() ^=	     Inserts the symmetric differences from this set and another  
union()	                      |	         Return a set containing the union of sets 
update()	                 |=	         Update the set with the union of this set and others

* Examples of methodes

In [1]:
#Add an element to the fruits set:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'cherry', 'apple', 'banana'}

In [3]:
#Remove all elements from the fruits set:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [4]:
#Copy the fruits set:
fuits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

set()

In [5]:
#Return a set that contains the items that only exist in set x, and not in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

In [6]:
#Remove the items that exist in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'cherry', 'banana'}

In [7]:
#Remove "banana" from the set:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [8]:
#Return a set that contains the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [9]:
#Remove the items that is not present in both x and y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [10]:
#Return True if no items in set x is present in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [11]:
#Return True if all items in set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [12]:
#Return True if all items set y are present in set x:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [13]:
#Remove a random item from the set:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'apple', 'banana'}

In [14]:
#Remove "banana" from the set:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [15]:
#Return a set that contains all items from both sets, except items that are present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'microsoft', 'banana', 'google'}

In [16]:
#Return a set that contains all items from both sets, duplicates are excluded:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'cherry', 'apple', 'banana', 'microsoft', 'google'}