# Pandas Series
* A Pandas Series is like a column in a table.
* It is a one-dimensional array holding data of any type.

In [4]:
# Create a simple Pandas Series from a list:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)
print(myvar.index)

0    1
1    7
2    2
dtype: int64
RangeIndex(start=0, stop=3, step=1)

In [3]:
# From a list
my_list = [10, 20, 30, 40, 50]
series_from_list = pd.Series(my_list)
print(series_from_list)

# From a NumPy array
import numpy as np
my_array = np.array([10, 20, 30, 40, 50])
series_from_array = pd.Series(my_array)
print(series_from_array)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [14]:
# index
#If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.
#This label can be used to access a specified value.
#Return the first value of the Series:
print(myvar[0])
# or 
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

1
x    1
y    7
z    2
dtype: int64

In [5]:
# series from a dictionary 

my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
series_from_dict = pd.Series(my_dict)
print(series_from_dict)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [13]:
# series of a specified length with the same scalar value.
scalar_value = [5,4,6,1,2]
series_scalar = pd.Series(scalar_value, index=['a', 'b', 'c', 'd', 'e'])
print(series_scalar)
# or
x=5
series_scalar=pd.Series(x,index=['a','b','c','d','e'])
print(series_scalar)

a    5
b    4
c    6
d    1
e    2
dtype: int64
a    5
b    5
c    5
d    5
e    5
dtype: int64

In [1]:
# From a NumPy Array:

import pandas as pd
import numpy as np
data = np.array([1, 2, 3, 4, 5])
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [2]:
# specify custom indices when creating a series:
import pandas as pd
data = [1, 2, 3, 4, 5]
indices = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data, index=indices)
print(series)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [3]:
# Create a DataFrame from two Series:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

# operation of series

In [6]:
#1.Indexing and Slicing:

series = pd.Series([1, 2, 3, 4, 5])
print(series[0])  # Accessing element at index 0
print(series[2:4])  # Slicing from index 2 to 4 (exclusive)

1
2    3
3    4
dtype: int64

In [10]:
#2.Mathematical Operations:

series = pd.Series([1, 2, 3, 4, 5])
result = series * 2  # Multiply each element by 2
result1=series + 2   # add 2 in each element
result2=series - 2   # substract 2 in each element
print(result)
print(result1)
print(result2)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    3
1    4
2    5
3    6
4    7
dtype: int64
0   -1
1    0
2    1
3    2
4    3
dtype: int64

In [12]:
#3.Boolean Indexing:

series = pd.Series([1, 2, 3, 4, 5])
filtered = series[series > 3]  # Select elements greater than 3
print(filtered)

3    4
4    5
dtype: int64

In [13]:
#4.Descriptive Statistics:

series = pd.Series([1, 2, 3, 4, 5])
print(series.mean())  # Compute the mean of the series

3.0

In [14]:
#5.Handling Missing Data:

series = pd.Series([1, 2, np.nan, 4, 5])
print(series.isnull())   # Check for missing values
print(series.dropna())   # Drop missing values

0    False
1    False
2     True
3    False
4    False
dtype: bool
0    1.0
1    2.0
3    4.0
4    5.0
dtype: float64

In [16]:
#4.Sorting:

series = pd.Series([3, 1, 4, 2, 5])
sorted_series = series.sort_values()  # Sort the series
print(sorted_series)

1    1
3    2
0    3
2    4
4    5
dtype: int64

In [18]:
#5.Applying Functions:

series = pd.Series([1, 2, 3, 4, 5])
squared = series.apply(lambda x: x**2)  # Apply a function to square each element
print(squared)

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [19]:
#6.Concatenation and Appending:

series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6])
concatenated = pd.concat([series1, series2])  # Concatenate two series
print(concatenated)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64