# List
* Lists are used to store multiple items in a single variable.
* Mutable can change or update.
* Ordered collection indexes starting from 0
* Lists are created using square brackets.
* each element seperated using comma i.e ,
* List within list is possible combination.
* List items are ordered, changeable, and allow duplicate values.

In [1]:
# list creation []  or  Mixed data type
l1=["apple",22,"banana",100,"cherry","banana"]
print(l1)

['apple', 22, 'banana', 100, 'cherry', 'banana']

In [2]:
type(l1)

list

In [2]:
# empty list
my_list=[]

In [7]:
# list of integer
L1=[2,100,5,45]
print(L1)

[2, 100, 5, 45]

In [8]:
#To determine how many items a list has, use the len() function
print(len(L1))

4

* List items - Data type
1. String
2. int 
3. boolean

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(type(list1))
print(type(list2))
print(type(list3))
list1

<class 'list'>
<class 'list'>
<class 'list'>

['apple', 'banana', 'cherry']

In [5]:
# The list() Constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [7]:
list=['p','r','o','b','e']
list

['p', 'r', 'o', 'b', 'e']

In [8]:
# +ve indexing starting from zero
# -ve indexing string from -1
list[-2]

'b'

In [9]:
#start:include and end:exclude
list[2]

'o'

In [2]:
# nested list
my_list=[["mouse",8,4],6,["a"]]
my_list

[['mouse', 8, 4], 6, ['a']]

In [6]:
#assending items
list1[0]

'apple'

* List Methods  
Python has a set of built-in methods that you can use on lists.

In [ ]:
Method	                      Description
append()	           Adds an element at the end of the list
clear()	               Removes all the elements from the list
copy()	               Returns a copy of the list
count()	               Returns the number of elements with the specified value
extend()	           Add the elements of a list (or any iterable), to the end of the current list
index()	               Returns the index of the first element with the specified value
insert()	           Adds an element at the specified position
pop()	               Removes the element at the specified position
remove()	           Removes the item with the specified value
reverse()	           Reverses the order of the list
sort()              Sorts the list

In [6]:
#Add an element to the fruits list:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [3]:
#Remove all elements from the fruits list:
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

In [8]:
#Copy the fruits list:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [9]:
#Return the number of times the value "cherry" appears in the fruits list:
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
print(x)

1

In [18]:
# count the number without count 
num=0
M="statistics"
for n in M:
   if n=='s':
     num=num+1
print(num)

3

In [10]:
#Add the elements of cars to the fruits list:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [11]:
#What is the position of the value "cherry":
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)

2

In [21]:
#Insert the value "orange" as the second element of the fruit list:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
fruits.insert(2,"fig")
print(fruits)

['apple', 'orange', 'fig', 'banana', 'cherry']

In [13]:
#Remove the second element of the fruit list:
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [14]:
#Remove the "banana" element of the fruit list:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [15]:
#Reverse the order of the fruit list:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [16]:
#Sort the list alphabetically:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']