# Selection

In [ ]:
* selection of dataframe  
In Pandas, you can select specific rows and columns from a dataframe using various methods. Here's a brief overview:
Selecting Columns:
Selecting Rows:

* Coloumn selection

In [12]:
#To select a single column, you can use either bracket notation or dot notation:
import pandas as pd
data={
    'A':[1,2,3,4],
    'B':[5,6,7,8],
    'c':[9,10,11,12]
}
df=pd.DataFrame(data)
print(df)
df['A']
#or
df.A

#To select multiple columns, pass a list of column names:
df[['A', 'B']]

   A  B   c
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

* Selecting Rows:

In [21]:
import pandas as pd
# Creating a sample Series
series = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])

# Using loc
print(series.loc['B'])

# Using iloc
print(series.iloc[1])

20
20

* Conditional Selection:

In [23]:
#You can use boolean conditions to filter elements in a series:
# Conditional selection
print(series[series > 20])

C    30
D    40
dtype: int64

* Deletion:  
To delete elements from a series, you can use the drop method:

In [31]:
# Deletion
selected_series.drop('B', inplace=True)
print(selected_series)

C    50
D    50
Name: column_name, dtype: int64

* Update:   
To update values in a series based on certain conditions, you can use boolean indexing:

In [27]:
# Update
threshold = 20
new_value = 50
selected_series[selected_series > threshold] = new_value
print(selected_series)

B    20
C    50
D    50
Name: column_name, dtype: int64

In [26]:
import pandas as pd
# Creating a sample Series
series = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])

# Indexing
print("Using loc:")
print(series.loc['B'])  # Accessing element with label 'B'
print("\nUsing iloc:")
print(series.iloc[1])   # Accessing element at position 1

# Conditional selection
print("\nConditional Selection:")
print(series[series > 20])  # Selecting elements greater than 20

# Column selection
print("\nColumn Selection:")
df = pd.DataFrame({'column_name': series})
selected_series = df['column_name']
print(selected_series)

# Deletion
print("\nAfter Deletion:")
selected_series.drop('A', inplace=True)
print(selected_series)

# Update
print("\nAfter Update:")
threshold = 20
new_value = 50
selected_series[selected_series > threshold] = new_value
print(selected_series)

Using loc:
20

Using iloc:
20

Conditional Selection:
C    30
D    40
dtype: int64

Column Selection:
A    10
B    20
C    30
D    40
Name: column_name, dtype: int64

After Deletion:
B    20
C    30
D    40
Name: column_name, dtype: int64

After Update:
B    20
C    50
D    50
Name: column_name, dtype: int64

* Index Setting:  
You can set a custom index for a Series using the index parameter when creating the Series.

In [32]:
# Setting custom index
custom_index = ['X', 'Y', 'Z', 'W']
series_with_custom_index = pd.Series([10, 20, 30, 40], index=custom_index)
print("\nSeries with custom index:")
print(series_with_custom_index)

Series with custom index:
X    10
Y    20
Z    30
W    40
dtype: int64

* Removing Index:  
You can remove the index of a Series using the reset_index method.

In [34]:
# Removing index
series_reset_index = series.reset_index(drop=True)
print("\nSeries with reset index:")
print(series_reset_index)

Series with reset index:
0    10
1    20
2    30
3    40
dtype: int64

# Operation:

* Addition (+):

In [37]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)
# Addition
result_addition = df['A'] + df['B']
print("Addition:")
print(result_addition)

Addition:
0     6
1     8
2    10
3    12
dtype: int64

* Subtraction (-):

In [38]:
# Subtraction
result_subtraction = df['A'] - df['B']
print("\nSubtraction:")
print(result_subtraction)

Subtraction:
0   -4
1   -4
2   -4
3   -4
dtype: int64

* Multiplication (*):

In [39]:
# Multiplication
result_multiplication = df['A'] * df['B']
print("\nMultiplication:")
print(result_multiplication)

Multiplication:
0     5
1    12
2    21
3    32
dtype: int64

* Logical OR (|):

In [40]:
# Logical OR
bool_series1 = pd.Series([True, False, True, False])
bool_series2 = pd.Series([False, True, False, True])

result_logical_or = bool_series1 | bool_series2
print("\nLogical OR:")
print(result_logical_or)

Logical OR:
0    True
1    True
2    True
3    True
dtype: bool

In [41]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [12, 2, 3, 4], 'B': [5, 16, 4, 8]}
df = pd.DataFrame(data)

# Addition
result_addition = df['A'] + df['B']
print("Addition:")
print(result_addition)

# Subtraction
result_subtraction = df['A'] - df['B']
print("\nSubtraction:")
print(result_subtraction)

# Multiplication
result_multiplication = df['A'] * df['B']
print("\nMultiplication:")
print(result_multiplication)

# Logical OR
bool_series1 = pd.Series([True, False, True, False])
bool_series2 = pd.Series([False, True, False, True])

result_logical_or = bool_series1 | bool_series2
print("\nLogical OR:")
print(result_logical_or)

Addition:
0    17
1    18
2     7
3    12
dtype: int64

Subtraction:
0     7
1   -14
2    -1
3    -4
dtype: int64

Multiplication:
0    60
1    32
2    12
3    32
dtype: int64

Logical OR:
0    True
1    True
2    True
3    True
dtype: bool